.venv/
venv/
env/
*.egg-info/

__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/
dist/
build/

*.db
*.sqlite3

.env
.env.*
!.env.example

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

.idea/
.vscode/
*.swp
.DS_Store

/exports
